body{
	text-align:center;
}

p{
	margin:3px;
}

#title{
	text-align:center;
}

#pieGraph{
	margin:0 auto;
	width:700px;
	height:300px;
}

#lineGraphLegend{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}

#lineGraph{
	margin:0 auto;
	width:700px;
	height:300px;
}

.listviewContainer select{
	width:200px;
}

.listviewContainer{
	display:inline-block;
}
